<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1> ✨ Student Dashboard ✨ </h1>
    </header>

    <nav>
        <a href="{{ url_for('dashboard') }}">Home</a>
        <a href="{{ url_for('completed_tasks') }}">Completed Tasks</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
