{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section>
        <h2>Welcome to your dashboard</h2>
        <p>This is where your classes, tasks, and progress will go.</p>
    </section>

    <div>
        <a href="/add-class"><button>Add Class</button></a>
        <a href="/add-task"><button>Add Task</button></a>
    </div>
    <div class="container">

        <h2>Your Classes</h2>

     {% for course in classes %}
        <div class="card">
            <h3>{{ course["name"] }}</h3>
            <p>{{ course["info"] }}</p>

            {% for task in tasks %}
                {% if task["class"] == course["name"] %}
                 <p>{{ task["name"] }}</p>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %} 
    </div>

        <h2>Tasks</h2>

        {% for task in tasks %}
            <div class="task-card">
                {% if task["completed"] %}
                    <p><s>{{ task["name"] }}</s> ✅</p>
                {% else %}
                    <p>{{ task["name"] }}</p>
                {% endif %}
                <p>{{ task["class"] }}</p>
                <p>{{ task["date"] }}</p>
            </div>

            <div class="task-buttons">
                <a href="/delete-task/{{ loop.index0 }}">
                    <button type="button">Delete</button>
                </a>

                <form action="/complete-task/{{ loop.index0 }}" method="POST">
                    <button type="submit">Mark Complete</button>
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}
