{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <section>
        <h2>Welcome to your dashboard</h2>
        <p>This is where your classes, tasks, and progress will go.</p>
    </section>

    <div>
        <button>Add Class</button>
        <a href="/add-task"><button>Add Task</button></a>
    </div>
    <div class="container">

        <h2>Your Classes</h2>

        <div class="card-grid">
            <div class="card">
                <h3>Calculus II</h3>
            </div>

            <div class="card">
                <h3>Mathematical Computing</h3>
            </div>

            <div class="card">
                <h3>Intro to Data Science</h3>
            </div>
        </div>

        <h2>Tasks</h2>

        {% for task in tasks %}
            <div class="task-card">
                {% if task["completed"] %}
                    <p><s>{{ task["name"] }}</s> ✅</p>
                {% else %}
                    <p>{{ task["name"] }}</p>
                {% endif %}
                <p>{{ task["class"] }}</p>
                <p>{{ task["date"] }}</p>
            </div>

            <div class="task-buttons">
                <a href="/delete-task/{{ loop.index0 }}">
                    <button type="button">Delete</button>
                </a>

                <form action="/complete-task/{{ loop.index0 }}" method="POST">
                    <button type="submit">Mark Complete</button>
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}
